body{
    min-height: 2000px;
}
.jumbotron{
    width: 100%;
    height: 600px;
    background-image: url('../img/5.jpg');
    background-position: -700px -400px;
}


.kubus{
    height: 500px;
}

.bola{
    height: 500px;
}

.Lprisma{
    height: 500px;
}


.lLimas{
    height: 500px;
}


.vlimas{
    height: 500px;
}